.computer-page {
    width: 100%;
    height: 100vh;
    display: flex;
}

.add-computer{
    width: 100%;
    background-color: #dee2e6;
}

.add-computer-form{
    display: flex;
    flex-direction: column;
}


.form-container{
    padding: 30px;
    height: 100vh;
}

.path-details{
    background-color: white;
    margin-top: 10px;
}